.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  display: flex;
  margin: 8px;
  padding: 5px;
  list-style-type: none;
}

.card-category li a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.category_container {
  display: block;
}
