<div class="container">

  <h1>Add a new Category to your Cookbook</h1>

  <%= simple_form_for(@categories, defaults: { input_html: { class: "form-new" } } ) do |f| %>
    <%= f.input :name, wrapper_html: { class: "form-new" } %>
    <%= f.submit "Add Category", class: "btn btn-primary btn-font-white" %>
  <% end %>
</div>
<%# <%= link_to 'back', categories_path %>
